body {
    margin: 0;
    padding: 0;
}

section {
    position: fixed;
    top: 30%;
    left: 30%;

    width: 400px;
    height: 110px;

    border: 1px dodgerblue solid;
    -moz-border-radius: 15px;
    border-radius: 15px;

    padding: 10px;
}

input {
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
    border: none;
}

input [type="submit"] {
    text-align: right;
}

.inputwrap {
   background-color: dodgerblue;
}