body {
    margin: 0;
    padding: 0;
}

section {
    position: fixed;
    top: 30%;
    left: 30%;

    width: 400px;
    height: 370px;

    border: 1px #1BA1E2 solid;
    -moz-border-radius: 15px;
    border-radius: 15px;

    padding: 10px;
}

serielijst {
    position: fixed;
    top: 10%;
    left: 30%;

    width: 500px;

    border: 1px #1BA1E2 solid;
    -moz-border-radius: 15px;
    border-radius: 15px;

    padding: 10px;
}

input {
    color: white;
    background-color: #1BA1E2;
    border-color: #1BA1E2;
    border: none;
}

input [type="submit"] {
    text-align: right;
}

.inputwrap {
   background-color: #1BA1E2;
}

.color {
    border: 1px solid #1BA1E2;
}

p {
    color: #1BA1E2;
}